.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
}
.section-1 {
    height: 15vh;
    width: 55%;
    background-color: aqua;
    padding: 2% 3% 2% 3%;

}
.section-2 {
    height: 10vh;
    width: 1vw;
    background-color:cyan;
    padding: 16% 30% 16% 30%;
}
.section-3 {
    height: 2vh;
    width: 1vw;
    background-color: aqua;
    padding: 2% 30% 2% 30%;
}
